.container {
  padding: 1em;
  box-shadow: var(--box-shadow-content);
  max-width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  flex-direction: column;
}
.btn-login{
    background-color: var(--iconcolor);
    color: white
}
label {
  display: block;
}
input {
  margin-bottom: 0.8em;
}

.btn {
  padding: 1em;
}
