<button class="btn btn-complementary" (click)="openDialog('')">
  Add project
</button>
<div cdkDropList (cdkDropListDropped)="dropInside($event)">
  <div class="container" cdkDropListGroup>
    <div *ngFor="let project of projects" cdkDrag>
      <mat-card
        cdkDropList
        [cdkDropListData]="project.tasks"
        class="example-list"
        (cdkDropListDropped)="drop(project._id, $event)"
      >
        <mat-card-header>
          <mat-card-title>
            <h2 class="project-name">{{ project.pname }}</h2>

            <div class="btn-container">
              <button mat-icon-button>
                <a routerLink="/detail/{{ project._id }}"
                  ><mat-icon>edit</mat-icon></a
                >
              </button>
              <button mat-icon-button (click)="deleteProject(project._id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            <input
              class="input-group"
              type="text"
              value="{{ project.group }}"
            />
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.desc }}</p>

          <h3 class="new-task">Tasks to do:</h3>
          <div
            class="example-box"
            *ngFor="let task of project.tasks; index as i"
            cdkDrag
          >
            {{ task }}

            <div class="btn-container">
              <button mat-icon-button (click)="editTask(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteTask(project._id, i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <mat-divider></mat-divider>
          <div *ngIf="isAddTask(project._id)">
            <button class="btn" (click)="addTask()">+ Add Task</button>
          </div>
          <div *ngIf="isAddTask(project._id)">
            <input type="text" placeholder="add new task"/>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
