<div class="container">
  <header>
    <h1>Project management</h1>
    <p>{{ "easy like a piece of cake" | translate }}</p>
  </header>
  <main class="grid-container">
    <article class="featured">
      <img
        src="https://cdn.pixabay.com/photo/2017/04/18/15/10/strawberry-ice-cream-2239377__480.jpg"
        alt="ice cream"
      />
      <div>
        <h2>{{ "Ice Cream solution" | translate }}</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          molestias voluptates non officiis sint vel omnis, earum laboriosam!
          Praesentium, nisi.
        </p>
      </div>
    </article>
    <article>
      <img
        src="https://cdn.pixabay.com/photo/2022/07/14/06/35/smoothie-7320560__480.jpg"
        alt="smoothie"
      />
      <div>
        <h3>{{ "Green technology" | translate }}</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          eaque quidem quam illum eligendi molestias maxime beatae reiciendis,
          at blanditiis.
        </p>
      </div>
    </article>
    <article>
      <img
        src="https://cdn.pixabay.com/photo/2018/02/23/19/27/smoothie-3176379_1280.jpg"
        alt="smoothies"
      />
      <div>
        <h3>{{ "Powerful smooth tools" | translate }}</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          eaque quidem quam illum eligendi molestias maxime beatae reiciendis,
          at blanditiis.
        </p>
      </div>
    </article>
    <article>
      <img
        src="https://cdn.pixabay.com/photo/2017/04/10/19/46/ice-2219574__480.jpg"
        alt="ice"
      />
      <div>
        <h3>{{ "Cool features" | translate }}</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          eaque quidem quam illum eligendi molestias maxime beatae reiciendis,
          at blanditiis.
        </p>
      </div>
    </article>
  </main>
</div>
