<!-- _id?: string;
  group: string;
  pname: string;
  desc: string;
  tasks?: string[] -->

<div class="container" #content>
  <h1 mat-dialog-title>{{ "Project detail" | translate }}</h1>
  <form
    class="form-container"
    [formGroup]="reactiveForm"
    (ngSubmit)="saveProject()"
  >
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>{{ "Project team" | translate }}</mat-label>
        <input type="text" matInput formControlName="group" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "Project name" | translate }}</mat-label>
        <input type="text" matInput formControlName="pname" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "Description" | translate }}</mat-label>
        <input type="text" matInput formControlName="desc" />
      </mat-form-field>
      <div formArrayName="tasks">
        <div *ngFor="let alias of tasks.controls; let i = index">
          <!-- The repeated task template -->
          <label for="task-{{ i }}">Task:</label>
          <input id="task-{{ i }}" type="text" [formControlName]="i" />
        </div>
        <button class="btn" type="button" (click)="addTask()">
          + Add another task
        </button>
      </div>
      <mat-error *ngIf="errorMessage != null">{{ errorMessage }}</mat-error>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>{{ "Close" | translate }}</button>
      <button type="submit" mat-button cdkFocusInitial>
        {{ "OK" | translate }}
      </button>
    </div>
  </form>
</div>
