/* You can add global styles to this file, and also import other style files */
:root {
  --text: rgb(68, 38, 44);
  --background: rgb(253, 243, 245);
  --iconbackground: rgb(253, 244, 245);
  --iconcolor: rgb(241, 21, 120);
  --warning: rgb(239, 9, 48);
  --box-shadow: rgb(216, 191, 196);
  --iconcolor-secondary: #15f18e;
  --background-secondary: #f3fdfb;
  --iconbackground-secondary: #f4fdfc;
  --success: #09efc8;
  --box-shadow-secondary: #bfd8d3;
  --text-secondary: #26443e;
  --box-shadow-content: rgba(17, 12, 46, 0.15) 0px 5px 10px 0px;
}

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   background-color: var(--background);
//   color: var(--text);
//   font-size: 1rem;
//   padding: 0;
//   margin: 0;
// }
// .mat-icon-button {
//   background-color: var(--iconbackground);
//   color: var(--iconcolor);
// }
// .mat-toolbar {
//   padding: 1em;
// }
// .mat-icon {
//   color: var(--iconcolor);
// }
// .mat-icon:hover {
//   transition: 0.2s;
//   transform: rotate(-30deg);
// }
// .mat-card:hover {
//   transform: perspective(100px) translateZ(5px);
//   transition: 0.5s;
// }
// a {
//   text-decoration: none;
//   cursor: pointer;
// }
// .btn {
//   border: var(--iconcolor) 1px solid;
//   background-color: var(--iconbackground);
//   cursor: pointer;
// }
// .btn-radius {
//   border-radius: 10px;
// }
// input {
//   background-color: var(--iconbackground);
//   padding: 1em 1em;
//   border: var(--iconcolor) 1px solid;
//   text-align: justify;
// }
// .input-radius {
//   border-radius: 10px;
// }
/* You can add global styles to this file, and also import other style files */
:root {
  --primary: rgb(187, 17, 77);
  --complementary: #11bb7f;
  --secondary: rgb(154, 2, 61);
  --border: rgb(247, 164, 193);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: var(--primary);
  font-size: 1rem;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn {
  padding: 1em;
  border-radius: 10px;
  margin: 0.5em;
  border: 1px solid rgb(227, 226, 226);
  color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid var(--border);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary);
}
input {
  display: block;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid var(--primary);
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-login {
  background-color: var(--complementary);
  color: white;
}
.btn-cancel {
  background-color: var(--primary);
  color: white;
}
